/*color default*/

:root {
  --color-light-primary: #c38e88;
  --color-light-secondary: #6e6e6e;
  --color-white: white;
  --color-light-action-primary: #c38e88;
  --color-hover-button-dark: #3530b9;
  --color-box-shawdown: rgba(66, 18, 18, 0.1);
  --font-family: "Montserrat", Times, serif;
  --color-bg-baget: #eeeefd;
  --color-bg-blue: #e6e6fc;
  --color-bg-light-default: #FAF5F4;
  --color-bg-dark-default: #c8c8c8;
  --color-text-primary: #100d0d;
  --color-text-secondary: #c38e88;
  --color-icon-primary: #775151;
  --color-red: #f44336;
}

@font-face {
  font-family: Playfair Display;
  src: url(sansation_light.woff);
}

* {
  font-family: PoppinsPlayfair Display;
}

/*css for text*/

.txt-primary {
  color: var(--color-text-primary);
}

.txt-secondary {
  color: var(--color-light-secondary);
}

.txt-action {
  color: var(--color-light-action-primary);
}

.txt-12 {
  font-size: 12px;
}

.txt-20 {
  font-size: 20px;
}
.txt-30 {
}
.txt-60 {
  font-size: 60px;
}

.color-white {
  color: white;
}

/*css for button*/

.btn-outline-white-circle {
  /* cursor: pointer;
  font-size: 14px;
  border-radius: 25 px;
  padding: 15 px 25 px !important;
  
  border: 1px solid var(--color-text-secondary);
 
  color:var(--color-text-secondary);
  
  letter-spacing: 1px;
  border-radius: 100%; */
  background-color: var(--color-white);
  border: none;
  color: white;
  padding: 15px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100%;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid var(--color-text-secondary);
  
}
.btn-outline-white-circle svg{
  color: var(--color-text-secondary);
}
.btn-outline-white-circle:hover svg{
  color: var(--color-white);
}

.btn-outline-white-circle:hover{
  color: var(--color-white);
  background-color: var(--color-text-secondary);
}
.btn-primary-circle {
  background-color: var(--color-text-secondary);
  border: none;
  color: white;
  padding: 15px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100%;
  text-transform: uppercase;
  font-weight: 600;
}
.btn-primary-circle:hover {
  background-color: var(--color-icon-primary);
}
.btn-primary-circle svg{
  color: var(--color-white);
}

.btn-primary-default {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 25 px;
  padding: 15 px 25 px;
  background-color: var(--color-text-primary);
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}
.btn-primary-default:hover {
  color: var(--color-white);
  background-color: var(--color-text-primary);
}

.btn-secondary-default {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 25 px;
  padding: 15 px 25 px;
  background-color: var(--color-text-secondary);
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-secondary-default:hover {
  color: var(--color-white);
  background-color: var(--color-text-primary);
}

/*CSS for header*/

.logo img {
  height: 36px;
  width: 36px;
}

.logo-title {
  font-size: 30px;
  color: var(--color-text-secondary);
}

.nav-beauti {
  background: var(--color-white);
  box-shadow: 0 4px 8px 0 var(--color-box-shawdown),
    0 6px 20px 0 var(--color-box-shawdown);
  margin-top: 0px;
  padding: 10px;
}

.nav-beauti ul li {
  margin: 0 10px;
}

.nav-beauti ul li a {
  color: var(--color-light-primary);
  text-transform: uppercase;
  font-size: 14px;
}

.nav-beauti ul li:hover {
  background-color: var(--color-light-primary);
}

.nav-beauti .nav-active {
  background-color: var(--color-light-primary);
}

.nav-beauti .nav-active a {
  color: var(--color-white) !important;
}

.nav-beauti ul li a:hover {
  color: var(--color-white) !important;
}

.btn-gr-action .icon-action .icon {
  background-color: var(--color-bg-light-default);
  padding: 10px;
  border-radius: 50%;
}

.btn-gr-action .icon-action svg {
  color: var(--color-icon-primary);
  height: 20px;
}

.btn-gr-action .icon-action .account {
  background-color: var(--color-red);
  position: absolute;
  color: var(--color-white);
  border-radius: 50%;
  border: 2px solid white;
  top: 1rem;
}

/* welcome-area */

.welcome-area {
  /* background-image: url(../images/pexels-ron-lach-8128063.png); */
  width: 100%;
  height: 100%;
  min-height: 793px;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.slide-img {
}
.header-text {
  left: 15% !important;
}
.content-text {
  height: 100vh;
}

.content-text .content-sub .content-sub-1 {
  color: var(--color-text-secondary);
  font-size: 40px;
  text-transform: uppercase;
}

.content-text .content-sub .content-sub-2 {
  color: var(--color-text-primary);
}
.input-search-loaction {
  height: 60px;
}

.btn-location {
  cursor: pointer;
  font-size: 14px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  text-transform: uppercase;
  color: var(--color-text-primary);
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-location svg {
  width: 20px;
  height: 20px;
  margin: 0 20px;
}

/* Features */
/* Features service */

.services {
  padding: 150px 0;
}

.services .services-item .title-services h4 {
  color: var(--color-light-primary);
}
.services .services-item .title-services {
  padding: 10px 0;
}
.services .services-item {
  text-align: center;
  padding: 0 20px;
  border-right: 1px solid var(--color-bg-light-default);
}
.services .services-item .icon-services svg {
  color: var(--color-text-secondary);
  width: 36px;
  height: 36px;
  stroke-width: 1.2;
}
.services .services-item .sub-services {
  color: var(--color-light-secondary);
}
.services-item:last-child {
  border-right: none;
}
/* Features About Us */
.about-us {
  padding: 100px 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.about-us .gr-item-about {
  padding-top: 100px;
}
.about-us .title-about {
  text-align: center;
}
.title p {
  color: var(--color-light-secondary);
}
.title h1 {
  color: var(--color-text-primary);
}
.about-us .item-about .item-about-title {
  font-size: 30px;
}
.item-about h1 {
  padding-top: 40px;
}
.about-us .item-about .item-about-subtitle {
}
.link {
  padding-top: 40px;
}
.link a {
  color: var(--color-text-secondary);
  font-size: 16px;
}
.link:hover > a {
  text-transform: uppercase;
}
.about-us .item-about h1 {
  color: var(--color-text-secondary);
}
.about-us .item-about img {
  width: 100%;
  height: 100%;
}
/* Features Our Product  */
.our-product {
  padding: 100px 0;
}
.our-product-nav {
  padding: 40px 0;
}
.our-product .our-product-nav ul li {
  padding: 0 20px;
}
.our-product .our-product-nav ul li a {
  color: var(--color-light-secondary);
}
.our-product .our-product-nav ul li .active {
  color: var(--color-text-secondary);
  border-bottom: 2px solid var(--color-text-secondary);
  text-transform: uppercase;
}
.our-product .our-product-nav ul li:hover a {
  color: var(--color-text-secondary);
}
.our-product .gr-product-item .product-item-detail {
  padding-bottom: 30px;
}

.our-product .gr-product-item .product-item .item-price-old {
  color: var(--color-light-secondary);
  text-decoration: line-through;
}
.our-product .gr-product-item .product-item {
  padding: 0 20px 20px 20px;
  background-color: var(--color-bg-light-default);
}
.our-product .gr-product-item .product-item .item-price h3 {
  color: var(--color-text-secondary);
}
.our-product .gr-product-item .product-item .item-img {
  width: 100%;
  height: 400px;
  padding-bottom: 20px;
  left: 0 !important;
}
.our-product .gr-product-item .product-item .item-img img {
  margin-left: -20px;
}
.our-product .gr-product-item .product-item .item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.badget-sale {
  border-radius: 0px !important;
  background-color: var(--color-text-primary);
  color: var(--color-white);
  margin-left: -20px;
  padding: 10px;
}
.our-product .gr-product-item .product-item > .item-action {
  display: none !important;
}
.our-product .gr-product-item .product-item:hover > .item-action {
  display: flex !important;
}
.our-product .gr-product-item .product-item .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-text-primary);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  opacity: 0.5;
}

.our-product .gr-product-item .product-item:hover > .overlay {
  bottom: 0;
  height: 100%;
}

.our-product .gr-product-item .product-item .item-action .icon-action:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  transform: scale(1.2);
}
.our-product .gr-product-item .product-item .item-action .icon-action {
  z-index: 1;
}
.our-product .gr-product-item .product-item .item-action .icon-action .icon {
  background-color: var(--color-white);
  padding: 10px;
  border-radius: 50%;
  margin: 10px 20px;
  position: relative;
}
.our-product .gr-product-item .product-item .item-action .icon-action svg {
  color: var(--color-text-secondary);
  height: 24px;
}
.our-product .gr-product-item .product-item .item-action .icon-action .add {
  background-color: var(--color-red);
  position: absolute;
  color: var(--color-white);
  border-radius: 50%;
  border: 1px solid white;
}
.baget-customer {
  display: flex;
  padding: 0em 0.2em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25 rem;
  top: 37%;
  left: 55%;
}
.baget-customer svg {
  color: var(--color-white) !important;
  height: 16px !important;
}
/* Features Blog  */
.blog {
  background-color: var(--color-bg-light-default);
}
.blog .title-blog {
  text-align: center;
  padding: 50px;
}

.blog-item:nth-child(odd) .more-blog-item {
  display: flex;
  flex-direction: column-reverse;
}
 .blog-item-img {
  position: relative;
}
.blog-item:nth-child(odd) .blog-item-img::before {
  content: "";
  position: absolute;
  margin-top: 0px;
  border-width: 20px;
  border-style: solid;
  border-color: var(--color-bg-light-default) transparent transparent transparent;
  left: 50%;
  margin-left: -20px;
  top: 0;
}
.blog-item {
  padding: 0px;
}
.blog-item-img {
  width: 100%;
  height: 400px;
}
.blog-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .blog-item-content {
  text-align: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--color-white); */
}
.blog-item-img::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent var(--color-bg-light-default) transparent;
  left: 50%;
  margin-left: -20px;
}
.gr-text-content {
  padding: 20px;
}

.blog-item .blog-item-content h6 {
  color: var(--color-light-secondary);
}
.blog-item-content p {
  color: var(--color-text-primary);
}
 .blog-item-content h1 {
  color: var(--color-light-primary);
}
.blog-item-content a {
  color: var(--color-light-primary);
}
.mySlides {
  display:none
}
.mySlides:nth-child(1) {
  display: block;
}
.btn-pagination{
 text-align: center;
 padding: 40px;
}
.number-active{
  background-color: var(--color-text-secondary);
  color: white;
}
/* Features review  */
.review {
  padding: 100px;
}
.review .title-review{
  text-align: center;
}
.gr-review .review-item .review-item-detail .review-item-img{
  width: 120px;
  height: 120px;
}
.gr-review .review-item{
  padding: 40px;
  text-align: center;
  justify-self: center;
  align-items: center;
  display: flex;
}
.gr-review .review-item .review-item-detail{
  border: 1px solid var(--color-light-primary);
  padding: 20px;
  width: 100%;
}
.review  .gr-review .review-item .review-item-detail .review-item-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review  .gr-review .review-item .review-item-detail .review-item-content{
  color: var(--color-text-primary);
  padding: 10px 0;
  word-wrap: break-word;
  height: 60px;
 overflow: hidden;
  text-overflow: ellipsis;
}
.review  .gr-review .review-item .review-item-detail .review-item-name{
  color: var(--color-text-secondary);
  padding: 10px 0px;
  text-transform: uppercase;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
#sildeRV{
 
}
.slideReview {
  display:none
}
.slideReview:nth-child(1) {
  display: block;
}
